
@{
    ViewBag.Title = "Education";
}

<h2><b>Education</b>s</h2><hr />
<h4><b>University  </b></h4></br><hr />
<h5>Trakya University / Computer Engineering(09/2014-06/2018)</h5></h4><br />
<h5>Yıldız Tecnical University /Computer Engineering(09/2015-02/2016)</h5></h4><br /><hr />
<h4><b>High School  </b></h4></br><hr />
<h5>Güngören Anatolian High School(09/2010-06/2014)</h5></h4><br />



