
@{
    ViewBag.Title = "PersonalInformation";
}

<h2><b>xPersonal Information</b>s</h2><hr/>
<h4><b>Date of Birth :</b> 22/01/1996</h4>
<h4><b>Nationality : </b> Turkish</h4>
<h4><b>Marital Status :  </b> Single</h4>
<h4><b>Sex : </b> Female</h4>
<h4><b>Draving Licence : </b>B(2015)</h4>



