
@{
    ViewBag.Title = "Skills";
}

<b><h2>Skills</b></h2><hr />
<h4><b>Language Skills </b></h4></br><hr />
<h5>English Reading: Good, Writing: Good, Speaking: Good</h5></h4><br />
<h5>Deuthsch Reading: Good, Writing: Good, Speaking: Good</h5></h4><br />
<h5>SpanishReading: Basic, Writing: Basic, Speaking:Basic</h5></h4><br />
<hr />
<h4><b>Computer Skills  </b></h4></br><hr />
<h5>.NET</h5></h4><br />
<h5>Android</h5></h4><br />
<h5>IOS Swift</h5></h4><br />
<h5>html , JavaScript , CSS</h5></h4><br />
<h5>ASP.Net MVC</h5></h4><br />
<h5>MSSQL , PostgreSQL</h5></h4><br />


<h4><b>CLUB & Association Memberships </b></h4></br><hr />
<h5>WTM - Member </h5></h4><br />
<h5>TUBITET - Member</h5></h4><br />
<h5>Scrum - Scrum Master</h5></h4><br />
<hr />

